In [3]:
import pandas as pd
import numpy as np
np.random.seed(0)

In [4]:
pwd

u'/Users/Bradley/Documents/Programming/Data_Vizualization_with_Python_and_JavaScript'

In [5]:
ls

Untitled.ipynb  ch_3/           ch_5/           ch_7/           ch_9/
ch_2/           ch_4/           ch_6/           ch_8/

In [6]:
cd ch_9

/Users/Bradley/Documents/Programming/Data_Vizualization_with_Python_and_JavaScript/ch_9

In [7]:
ls

data/

In [8]:
df = pd.read_json(open('data/nobel_winners.json'))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1052 entries, 0 to 1051
Data columns (total 12 columns):
born_in           1052 non-null object
category          1052 non-null object
country           1052 non-null object
date_of_birth     1044 non-null object
date_of_death     1044 non-null object
gender            1040 non-null object
link              1052 non-null object
name              1052 non-null object
place_of_birth    1044 non-null object
place_of_death    1044 non-null object
text              1052 non-null object
year              1052 non-null int64
dtypes: int64(1), object(11)
memory usage: 106.8+ KB

In [10]:
df.describe()

,year
count,1052.000000
mean,1968.729087
std,33.155829
min,1809.000000
25%,1947.000000
50%,1975.000000
75%,1996.000000
max,2014.000000

In [11]:
df.describe(include=['object'])

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052
unique,40,7,59,853,563,2,893,998,735,410,1043
top,,Physiology or Medicine,United States,9 May 1947,,male,http://en.wikipedia.org/wiki/Marie_Curie,Daniel Kahneman,,,"Edmond H. Fischer , born in China , Physiolog..."
freq,910,250,350,4,362,982,4,2,29,409,2

In [12]:
df.head()

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [13]:
df.columns

Index([u'born_in', u'category', u'country', u'date_of_birth', u'date_of_death',
       u'gender', u'link', u'name', u'place_of_birth', u'place_of_death',
       u'text', u'year'],
      dtype='object')

In [14]:
df = df.set_index('name')

In [15]:
df.head(2)

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961

In [16]:
df.reset_index(inplace=True)

In [17]:
df.head(2)

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961

In [18]:
bi_col = df.born_in
bi_col

0
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3
4
5
6
7
8
9
10
11
12
13
14                     Belarus
15                     Belarus
16                     Belarus
17
18
19
20
21
22
23
24
25
26
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022
1023                   Austria
1024                   Austria
1025
1026
1027                   Austria
1028
1029
1030                   Austria
1031                   Austria
1032
1033
1034                   Austria
1035                 Australia
1036
1037
1038
1039                 Australia
1040
1041                 Australia
1042
1043
1044
1045
1046                 Australia
1047
1048
1049
1050
1051
Name: born_in, dtype: object

In [19]:
type(bi_col)

pandas.core.series.Series

In [20]:
df.iloc[0]

name                                                César Milstein
born_in
category                                    Physiology or Medicine
country                                                  Argentina
date_of_birth                                       8 October 1927
date_of_death                                        24 March 2002
gender                                                        male
link              http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein
place_of_birth                           Bahía Blanca ,  Argentina
place_of_death                                 Cambridge , England
text                 César Milstein , Physiology or Medicine, 1984
year                                                          1984
Name: 0, dtype: object

In [21]:
df.set_index('name', inplace=True)

In [22]:
df.loc['Albert Einstein']

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
Albert Einstein,,Physics,Switzerland,1879-03-14,1955-04-18,male,http://en.wikipedia.org/wiki/Albert_Einstein,"Ulm , Baden-Württemberg , German Empire","Princeton, New Jersey , U.S.","Albert Einstein , born in Germany , Physics, ...",1921
Albert Einstein,,Physics,Germany,1879-03-14,1955-04-18,male,http://en.wikipedia.org/wiki/Albert_Einstein,"Ulm , Baden-Württemberg , German Empire","Princeton, New Jersey , U.S.","Albert Einstein , Physics, 1921",1921

In [23]:
df[0:10]

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
Institut de Droit International,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
Auguste Beernaert,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
Maurice Maeterlinck,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
Henri La Fontaine,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
Jules Bordet,,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
Corneille Heymans,,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
Georges Pire,,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958

In [24]:
df.reset_index(inplace=True)

In [25]:
df.loc[0]

name                                                César Milstein
born_in
category                                    Physiology or Medicine
country                                                  Argentina
date_of_birth                                       8 October 1927
date_of_death                                        24 March 2002
gender                                                        male
link              http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein
place_of_birth                           Bahía Blanca ,  Argentina
place_of_death                                 Cambridge , England
text                 César Milstein , Physiology or Medicine, 1984
year                                                          1984
Name: 0, dtype: object

In [26]:
df.set_index('name', inplace=True)

In [27]:
df.loc['Albert Einstein']

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
Albert Einstein,,Physics,Switzerland,1879-03-14,1955-04-18,male,http://en.wikipedia.org/wiki/Albert_Einstein,"Ulm , Baden-Württemberg , German Empire","Princeton, New Jersey , U.S.","Albert Einstein , born in Germany , Physics, ...",1921
Albert Einstein,,Physics,Germany,1879-03-14,1955-04-18,male,http://en.wikipedia.org/wiki/Albert_Einstein,"Ulm , Baden-Württemberg , German Empire","Princeton, New Jersey , U.S.","Albert Einstein , Physics, 1921",1921

In [28]:
df.reset_index(inplace=True)

In [29]:
df[0:10]

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Institut de Droit International,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,Maurice Maeterlinck,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,Henri La Fontaine,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,Jules Bordet,,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,Corneille Heymans,,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,Georges Pire,,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958

In [30]:
df[-4:]

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
1048,Carlos Saavedra Lamas,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,Bernardo Houssay,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,Luis Federico Leloir,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,Adolfo Pérez Esquivel,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [31]:
mask = df.year > 2000

In [32]:
mask

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13       True
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1022    False
1023    False
1024    False
1025    False
1026    False
1027    False
1028    False
1029    False
1030    False
1031    False
1032     True
1033     True
1034     True
1035    False
1036    False
1037    False
1038    False
1039    False
1040    False
1041    False
1042    False
1043    False
1044     True
1045     True
1046     True
1047     True
1048    False
1049    False
1050    False
1051    False
Name: year, dtype: bool

In [33]:
winners_since_2000 = df[mask]
winners_since_2000.count()

name              202
born_in           202
category          202
country           202
date_of_birth     201
date_of_death     201
gender            200
link              202
place_of_birth    201
place_of_death    201
text              202
year              202
dtype: int64

In [34]:
winners_since_2000.head()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
13,François Englert,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
32,Christopher A. Pissarides,,Economics,Cyprus,1948-02-20,,male,http://en.wikipedia.org/wiki/Christopher_A._Pi...,"Nicosia, Cyprus",,"Christopher A. Pissarides , Economics, 2010",2010
66,Kofi Annan,,Peace,Ghana,8 April 1938,,male,http://en.wikipedia.org/wiki/Kofi_Annan,"Kumasi , Ghana",,"Kofi Annan , Peace, 2001",2001
87,Riccardo Giacconi *,Italy,Physics,,"October 6, 1931",,male,http://en.wikipedia.org/wiki/Riccardo_Giacconi,"Genoa , Italy",,"Riccardo Giacconi *, Physics, 2002",2002
88,Mario Capecchi *,Italy,Physiology or Medicine,,6 October 1937,,male,http://en.wikipedia.org/wiki/Mario_Capecchi,"Verona , Italy",,"Mario Capecchi *, Physiology or Medicine, 2007",2007

In [35]:
df.born_in.describe()

count     1052
unique      40
top
freq       910
Name: born_in, dtype: object

In [36]:
set(df.born_in.apply(type))

{unicode}

In [37]:
bi_col.replace('', np.nan, inplace=True)
bi_col

0                          NaN
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3                          NaN
4                          NaN
5                          NaN
6                          NaN
7                          NaN
8                          NaN
9                          NaN
10                         NaN
11                         NaN
12                         NaN
13                         NaN
14                     Belarus
15                     Belarus
16                     Belarus
17                         NaN
18                         NaN
19                         NaN
20                         NaN
21                         NaN
22                         NaN
23                         NaN
24                         NaN
25                         NaN
26                         NaN
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022                       NaN
1023                   Austria
1024                   Austria
1025                       NaN
1026                       NaN
1027                   Austria
1028                       NaN
1029                       NaN
1030                   Austria
1031                   Austria
1032                       NaN
1033                       NaN
1034                   Austria
1035                 Australia
1036                       NaN
1037                       NaN
1038                       NaN
1039                 Australia
1040                       NaN
1041                 Australia
1042                       NaN
1043                       NaN
1044                       NaN
1045                       NaN
1046                 Australia
1047                       NaN
1048                       NaN
1049                       NaN
1050                       NaN
1051                       NaN
Name: born_in, dtype: object

In [38]:
bi_col.count()

142

In [39]:
df.head()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,NaN,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Institut de Droit International,NaN,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,NaN,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [40]:
df.replace('', np.nan, inplace=True)

In [41]:
df.head()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,NaN,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,NaN,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,NaN,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Institut de Droit International,NaN,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,NaN,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [42]:
df[df.name.str.contains('\*')]['name']

1                        Ivo Andric *
2                   Vladimir Prelog *
14                    Simon Kuznets *
15                   Menachem Begin *
16                     Shimon Peres *
27               Bertha von Suttner *
28                       Gerty Cori *
29              Carl Ferdinand Cori *
50                  Henry Kissinger *
51                     Arno Penzias *
53              Georges J.F. Köhler *
58                 Jack Steinberger *
63                  Hans G. Dehmelt *
82                  Renato Dulbecco *
87                Riccardo Giacconi *
88                   Mario Capecchi *
101     Mario José Molina Henríquez *
102                Gabriel Lippmann *
103               Jules A. Hoffmann *
104                  Andrew Schally *
105                  Czesław Miłosz *
106                      Aaron Klug *
109                 Wilhelm Ostwald *
115                    Severo Ochoa *
120                Allan M. Cormack *
126                  Sydney Brenner *
128                  Michael Levitt *
135                 Niels Kaj Jerne *
138                   Michael Smith *
268                     T. S. Eliot *
                    ...
935            Luis Federico Leloir *
937                   Seán MacBride *
938                 Roger Guillemin *
962             Niels Ryberg Finsen *
972                 Leopold Ružička *
978                  Daniel C. Tsui *
979                    Gao Xingjian *
980                  Charles K. Kao *
987                 William Giauque *
989              Charles B. Huggins *
991                     Saul Bellow *
992                  David H. Hubel *
993                     Henry Taube *
997               Rudolph A. Marcus *
1001                William Vickrey *
1002                  Myron Scholes *
1005               Willard S. Boyle *
1008                  Elias Canetti *
1009                  Peter Medawar *
1010       Zhores Ivanovich Alferov *
1023                     Otto Loewi *
1024                   Richard Kuhn *
1027                Karl von Frisch *
1030                    Walter Kohn *
1031                 Eric R. Kandel *
1034                 Martin Karplus *
1035         William Lawrence Bragg *
1039         Aleksandr M. Prokhorov *
1041          John Warcup Cornforth *
1046         Elizabeth H. Blackburn *
Name: name, dtype: object

In [43]:
df.name = df.name.str.replace('*', '')
df.name = df.name.str.strip()

In [44]:
df[df.name.str.contains('\*')]

In [45]:
np.nan == np.nan

False

In [46]:
df = df[df.born_in.isnull()]
df.count()

name              910
born_in             0
category          909
country           910
date_of_birth     901
date_of_death     589
gender            900
link              910
place_of_birth    875
place_of_death    546
text              910
year              910
dtype: int64

In [47]:
df = df.drop('born_in', axis=1)

In [48]:
dupes_by_name = df[df.duplicated('name')]

In [49]:
dupes_by_name.count()

name              46
category          46
country           46
date_of_birth     45
date_of_death     24
gender            44
link              46
place_of_birth    45
place_of_death    23
text              46
year              46
dtype: int64

In [50]:
all_dupes = df[df.duplicated('name') | df.duplicated('name', keep='last')]
all_dupes.count()

name              92
category          92
country           92
date_of_birth     90
date_of_death     48
gender            88
link              92
place_of_birth    90
place_of_death    46
text              92
year              92
dtype: int64

In [51]:
all_dupes = df[df.name.isin(dupes_by_name.name)]
all_dupes.count()

name              92
category          92
country           92
date_of_birth     90
date_of_death     48
gender            88
link              92
place_of_birth    90
place_of_death    46
text              92
year              92
dtype: int64

In [52]:
for name, rows in df.groupby('name'):
    print('name: %s, number of rows: %d'%(name, len(rows)))

name: A. Michael Spence, number of rows: 1
name: Aage Bohr, number of rows: 1
name: Aaron Ciechanover, number of rows: 1
name: Aaron Klug, number of rows: 2
name: Abdus Salam, number of rows: 1
name: Ada E. Yonath, number of rows: 1
name: Adam G. Riess, number of rows: 1
name: Adolf Butenandt, number of rows: 1
name: Adolf Otto Reinhold Windaus, number of rows: 1
name: Adolf von Baeyer, number of rows: 1
name: Adolfo Pérez Esquivel, number of rows: 1
name: Ahmed H. Zewail, number of rows: 1
name: Ahmed Zewail, number of rows: 1
name: Akira Suzuki, number of rows: 1
name: Al Gore, number of rows: 1
name: Alan Heeger, number of rows: 1
name: Alan Lloyd Hodgkin, number of rows: 1
name: Alan MacDiarmid, number of rows: 1
name: Albert A. Michelson, number of rows: 1
name: Albert Camus, number of rows: 1
name: Albert Claude, number of rows: 1
name: Albert Einstein, number of rows: 2
name: Albert Fert, number of rows: 1
name: Albert Lutuli, number of rows: 1
name: Albert Schweitzer, number of rows: 1
name: Albert Szent-Györgyi, number of rows: 1
name: Albrecht Kossel, number of rows: 1
name: Aleksandr M. Prokhorov, number of rows: 1
name: Aleksandr Solzhenitsyn, number of rows: 1
name: Alexander Fleming, number of rows: 1
name: Alexander R. Todd, number of rows: 1
name: Alexei A. Abrikosov, number of rows: 1
name: Alexis Carrel, number of rows: 1
name: Alfonso García Robles, number of rows: 1
name: Alfred G. Gilman, number of rows: 1
name: Alfred Hermann Fried, number of rows: 1
name: Alfred Hershey, number of rows: 1
name: Alfred Kastler, number of rows: 1
name: Alfred Werner, number of rows: 1
name: Alice Munro, number of rows: 1
name: Allan M. Cormack, number of rows: 1
name: Allvar Gullstrand, number of rows: 1
name: Alphonse Laveran, number of rows: 1
name: Alva Myrdal, number of rows: 1
name: Alvin E. Roth, number of rows: 1
name: American Friends Service Committee  (The Quakers), number of rows: 1
name: Amnesty International, number of rows: 1
name: Anatole France, number of rows: 1
name: Andre Geim, number of rows: 1
name: Andrei Dmitrievich Sakharov, number of rows: 1
name: Andrew Huxley, number of rows: 1
name: Andrew Z. Fire, number of rows: 1
name: Andrzej W. Schally, number of rows: 1
name: André F. Cournand, number of rows: 1
name: André Frédéric Cournand, number of rows: 1
name: André Gide, number of rows: 1
name: André Lwoff, number of rows: 1
name: Anthony J. Leggett, number of rows: 1
name: Antoine Henri Becquerel, number of rows: 1
name: Antony Hewish, number of rows: 1
name: António Caetano de Abreu Freire Egas Moniz, number of rows: 1
name: Anwar El Sadat, number of rows: 1
name: Archer John Porter Martin, number of rows: 1
name: Arieh Warshel, number of rows: 2
name: Aristide Briand, number of rows: 1
name: Arne Tiselius, number of rows: 1
name: Arno Penzias, number of rows: 1
name: Arthur H. Compton, number of rows: 1
name: Arthur Harden, number of rows: 1
name: Arthur Henderson, number of rows: 1
name: Arthur Kornberg, number of rows: 1
name: Arthur L. Schawlow, number of rows: 1
name: Arthur Lewis, number of rows: 1
name: Artturi Ilmari Virtanen, number of rows: 1
name: Arvid Carlsson, number of rows: 1
name: August Krogh, number of rows: 1
name: Auguste Beernaert, number of rows: 1
name: Aung San Suu Kyi, number of rows: 1
name: Austen Chamberlain, number of rows: 1
name: Avram Hershko, number of rows: 2
name: Barack H. Obama, number of rows: 1
name: Barbara McClintock, number of rows: 1
name: Barry Marshall, number of rows: 1
name: Baruch S. Blumberg, number of rows: 1
name: Baruj Benacerraf, number of rows: 2
name: Ben Roy Mottelson, number of rows: 1
name: Bengt I. Samuelsson, number of rows: 1
name: Bernard Katz, number of rows: 1
name: Bernardo Houssay, number of rows: 1
name: Bert Sakmann, number of rows: 1
name: Bertha von Suttner, number of rows: 1
name: Bertil Ohlin, number of rows: 1
name: Bertram N. Brockhouse, number of rows: 1
name: Bertrand Russell, number of rows: 1
name: Betty Williams, number of rows: 2
name: Bjørnstjerne Bjørnson, number of rows: 1
name: Boris Pasternak, number of rows: 1
name: Brian David Josephson, number of rows: 1
name: Brian K. Kobilka, number of rows: 1
name: Brian P. Schmidt, number of rows: 2
name: Bruce Beutler, number of rows: 1
name: Bruce Merrifield, number of rows: 1
name: Burton Richter, number of rows: 1
name: C.V. Raman, number of rows: 1
name: Camillo Golgi, number of rows: 1
name: Camilo José Cela, number of rows: 1
name: Carl Anderson, number of rows: 1
name: Carl Bosch, number of rows: 1
name: Carl Cori, number of rows: 1
name: Carl E. Wieman, number of rows: 1
name: Carl Gustaf Verner von Heidenstam, number of rows: 1
name: Carl Spitteler, number of rows: 1
name: Carl von Ossietzky, number of rows: 1
name: Carlo Rubbia, number of rows: 1
name: Carlos Filipe Ximenes Belo, number of rows: 1
name: Carlos Saavedra Lamas, number of rows: 1
name: Carol W. Greider, number of rows: 1
name: Cecil Frank Powell, number of rows: 1
name: Charles Albert Gobat, number of rows: 1
name: Charles B. Huggins, number of rows: 1
name: Charles G. Dawes, number of rows: 1
name: Charles Glover Barkla, number of rows: 1
name: Charles H. Townes, number of rows: 1
name: Charles J. Pedersen, number of rows: 1
name: Charles K. Kao, number of rows: 2
name: Charles Nicolle, number of rows: 1
name: Charles Richet, number of rows: 1
name: Charles Scott Sherrington, number of rows: 1
name: Charles Thomson Rees Wilson, number of rows: 1
name: Charles Édouard Guillaume, number of rows: 1
name: Chen Ning Yang, number of rows: 2
name: Christiaan Eijkman, number of rows: 1
name: Christian Anfinsen, number of rows: 1
name: Christian Lous Lange, number of rows: 1
name: Christian de Duve, number of rows: 1
name: Christiane Nüsslein-Volhard, number of rows: 1
name: Christopher A. Pissarides, number of rows: 1
name: Christopher A. Sims, number of rows: 1
name: Claude Cohen-Tannoudji, number of rows: 1
name: Claude Simon, number of rows: 1
name: Clifford G. Shull, number of rows: 1
name: Clinton Davisson, number of rows: 1
name: Cordell Hull, number of rows: 1
name: Corneille Heymans, number of rows: 1
name: Craig C. Mello, number of rows: 1
name: Cyril Norman Hinshelwood, number of rows: 1
name: Czesław Miłosz, number of rows: 1
name: César Milstein, number of rows: 2
name: Dag Hammarskjöld, number of rows: 1
name: Dale T. Mortensen, number of rows: 1
name: Dan Shechtman, number of rows: 1
name: Daniel Bovet, number of rows: 2
name: Daniel C. Tsui, number of rows: 1
name: Daniel Carleton Gajdusek, number of rows: 1
name: Daniel Kahneman, number of rows: 2
name: Daniel L. McFadden, number of rows: 1
name: Daniel Nathans, number of rows: 1
name: Dario Fo, number of rows: 1
name: David Baltimore, number of rows: 1
name: David H. Hubel, number of rows: 1
name: David J. Gross, number of rows: 1
name: David J. Wineland, number of rows: 1
name: David M. Lee, number of rows: 1
name: David Trimble, number of rows: 1
name: Dennis Gabor, number of rows: 1
name: Derek Harold Richard Barton, number of rows: 1
name: Derek Walcott, number of rows: 1
name: Desmond Tutu, number of rows: 1
name: Dickinson W. Richards, number of rows: 1
name: Donald A. Glaser, number of rows: 1
name: Donald J. Cram, number of rows: 1
name: Doris Lessing, number of rows: 1
name: Dorothy Crowfoot Hodgkin, number of rows: 1
name: Douglas D. Osheroff, number of rows: 1
name: Douglass C. North, number of rows: 1
name: Dudley R. Herschbach, number of rows: 1
name: E. Donnall Thomas, number of rows: 1
name: E. M. Purcell, number of rows: 1
name: Earl W. Sutherland Jr., number of rows: 1
name: Edgar Adrian, number of rows: 1
name: Edmond H. Fischer, number of rows: 2
name: Edmund S. Phelps, number of rows: 1
name: Eduard Buchner, number of rows: 1
name: Edvard Moser, number of rows: 1
name: Edward A. Doisy, number of rows: 1
name: Edward B. Lewis, number of rows: 1
name: Edward C. Kendall, number of rows: 1
name: Edward C. Prescott, number of rows: 1
name: Edward Tatum, number of rows: 1
name: Edward Victor Appleton, number of rows: 1
name: Edwin G. Krebs, number of rows: 1
name: Edwin M. McMillan, number of rows: 1
name: Ei-ichi Negishi, number of rows: 2
name: Eisaku Satō, number of rows: 1
name: Elfriede Jelinek, number of rows: 1
name: Elias Canetti, number of rows: 1
name: Elias James Corey, number of rows: 1
name: Elie Wiesel, number of rows: 1
name: Elihu Root, number of rows: 1
name: Elinor Ostrom, number of rows: 1
name: Elizabeth Blackburn, number of rows: 1
name: Ellen Johnson Sirleaf, number of rows: 1
name: Emil Adolf von Behring, number of rows: 1
name: Emilio G. Segrè, number of rows: 1
name: Emilio Segrè, number of rows: 1
name: Emily G. Balch, number of rows: 1
name: Enrico Fermi, number of rows: 1
name: Eric A. Cornell, number of rows: 1
name: Eric Betzig, number of rows: 1
name: Eric F. Wieschaus, number of rows: 1
name: Eric R. Kandel, number of rows: 1
name: Eric S. Maskin, number of rows: 1
name: Erik Axel Karlfeldt, number of rows: 1
name: Ernest Hemingway, number of rows: 1
name: Ernest Lawrence, number of rows: 1
name: Ernest Rutherford, number of rows: 2
name: Ernest Walton, number of rows: 1
name: Ernesto Teodoro Moneta, number of rows: 1
name: Ernst Boris Chain, number of rows: 1
name: Ernst Otto Fischer, number of rows: 1
name: Ernst Ruska, number of rows: 1
name: Erwin Neher, number of rows: 1
name: Erwin Schrödinger, number of rows: 1
name: Eugene F. Fama, number of rows: 1
name: Eugene O'Neill, number of rows: 1
name: Eugene Wigner, number of rows: 1
name: Eugenio Montale, number of rows: 1
name: Eyvind Johnson, number of rows: 1
name: F. Sherwood Rowland, number of rows: 1
name: F.W. de Klerk, number of rows: 1
name: Felix Bloch, number of rows: 2
name: Feodor Felix Konrad Lynen, number of rows: 1
name: Ferdinand Buisson, number of rows: 1
name: Ferid Murad, number of rows: 1
name: Finn E. Kydland, number of rows: 1
name: Francis Crick, number of rows: 1
name: Francis Peyton Rous, number of rows: 1
name: Francis William Aston, number of rows: 1
name: Franco Modigliani, number of rows: 2
name: Frank B. Kellogg, number of rows: 1
name: Frank Wilczek, number of rows: 1
name: Frans Eemil Sillanpää, number of rows: 1
name: François Englert, number of rows: 1
name: François Jacob, number of rows: 1
name: François Mauriac, number of rows: 1
name: Françoise Barré-Sinoussi, number of rows: 1
name: Frederick C. Robbins, number of rows: 1
name: Frederick G. Banting, number of rows: 1
name: Frederick Hopkins, number of rows: 1
name: Frederick Reines, number of rows: 1
name: Frederick Sanger, number of rows: 2
name: Frederick Soddy, number of rows: 1
name: Fredrik Bajer, number of rows: 1
name: Friderik Pregl, number of rows: 1
name: Fridtjof Nansen, number of rows: 1
name: Friedrich Bergius, number of rows: 1
name: Friedrich Hayek, number of rows: 2
name: Friends Service Council, number of rows: 1
name: Frits Zernike, number of rows: 1
name: Fritz Haber, number of rows: 1
name: Fritz Lipmann, number of rows: 1
name: Frédéric Joliot, number of rows: 1
name: Frédéric Mistral, number of rows: 1
name: Frédéric Passy, number of rows: 1
name: Gabriel García Márquez, number of rows: 1
name: Gabriel Lippmann, number of rows: 1
name: Gabriela Mistral, number of rows: 1
name: Gao Xingjian, number of rows: 1
name: Gary S. Becker, number of rows: 1
name: Geoffrey Wilkinson, number of rows: 1
name: Georg Wittig, number of rows: 1
name: Georg von Békésy, number of rows: 1
name: George A. Akerlof, number of rows: 1
name: George Andrew Olah, number of rows: 1
name: George Beadle, number of rows: 1
name: George C. Marshall, number of rows: 1
name: George D. Snell, number of rows: 1
name: George E. Palade, number of rows: 1
name: George E. Smith, number of rows: 1
name: George F. Smoot, number of rows: 1
name: George H. Hitchings, number of rows: 1
name: George H. Whipple, number of rows: 1
name: George J. Stigler, number of rows: 1
name: George Paget Thomson, number of rows: 1
name: George Porter, number of rows: 1
name: George R. Minot, number of rows: 1
name: George Wald, number of rows: 1
name: George de Hevesy  (Hevesy György), number of rows: 1
name: Georges Charpak, number of rows: 1
name: Georges J. F. Köhler, number of rows: 1
name: Georges Pire, number of rows: 1
name: Gerald Edelman, number of rows: 1
name: Gerard 't Hooft, number of rows: 1
name: Gerd Binnig, number of rows: 1
name: Gerhard Domagk, number of rows: 1
name: Gerhard Ertl, number of rows: 1
name: Gerhard Herzberg, number of rows: 1
name: Gerhart Hauptmann, number of rows: 1
name: Gertrude B. Elion, number of rows: 1
name: Gerty Cori, number of rows: 1
name: Giorgos Seferis, number of rows: 1
name: Giosuè Carducci, number of rows: 1
name: Giulio Natta, number of rows: 1
name: Glenn Theodore Seaborg, number of rows: 1
name: Godfrey Hounsfield, number of rows: 1
name: Grazia Deledda, number of rows: 1
name: Guglielmo Marconi, number of rows: 1
name: Gunnar Myrdal, number of rows: 1
name: Gustaf Dalén, number of rows: 1
name: Gustav Ludwig Hertz, number of rows: 1
name: Gustav Stresemann, number of rows: 1
name: Gérard Debreu, number of rows: 2
name: Günter Blobel, number of rows: 1
name: Günter Grass, number of rows: 1
name: H. David Politzer, number of rows: 1
name: H. Robert Horvitz, number of rows: 1
name: Haldan Keffer Hartline, number of rows: 1
name: Halldór Laxness, number of rows: 1
name: Hamilton O. Smith, number of rows: 1
name: Hannes Alfvén, number of rows: 1
name: Hans Adolf Krebs, number of rows: 1
name: Hans Bethe, number of rows: 1
name: Hans Fischer, number of rows: 1
name: Hans G. Dehmelt, number of rows: 1
name: Hans Spemann, number of rows: 1
name: Hans von Euler-Chelpin, number of rows: 1
name: Har Gobind Khorana, number of rows: 1
name: Harald zur Hausen, number of rows: 1
name: Harold C. Urey, number of rows: 1
name: Harold E. Varmus, number of rows: 1
name: Harold Kroto, number of rows: 1
name: Harold Pinter, number of rows: 1
name: Harry M. Markowitz, number of rows: 1
name: Harry Martinson, number of rows: 1
name: Hartmut Michel, number of rows: 1
name: Heike Kamerlingh Onnes, number of rows: 1
name: Heinrich Böll, number of rows: 1
name: Heinrich Otto Wieland, number of rows: 1
name: Heinrich Rohrer, number of rows: 1
name: Hendrik Lorentz, number of rows: 1
name: Henri Bergson, number of rows: 1
name: Henri La Fontaine, number of rows: 1
name: Henri Moissan, number of rows: 1
name: Henrik Dam, number of rows: 1
name: Henrik Pontoppidan, number of rows: 1
name: Henry Dunant, number of rows: 2
name: Henry Hallett Dale, number of rows: 1
name: Henry Kissinger, number of rows: 1
name: Henry Taube, number of rows: 1
name: Henry W. Kendall, number of rows: 1
name: Henryk Sienkiewicz, number of rows: 1
name: Herbert A. Hauptman, number of rows: 1
name: Herbert A. Simon, number of rows: 1
name: Herbert C. Brown, number of rows: 1
name: Herbert Kroemer, number of rows: 1
name: Herbert S. Gasser, number of rows: 1
name: Hermann Emil Fischer, number of rows: 1
name: Hermann Hesse, number of rows: 1
name: Hermann J. Muller, number of rows: 1
name: Hermann Staudinger, number of rows: 1
name: Herta Müller, number of rows: 1
name: Hideki Shirakawa, number of rows: 1
name: Hideki Yukawa, number of rows: 1
name: Hiroshi Amano, number of rows: 1
name: Hjalmar Branting, number of rows: 1
name: Horst L. Störmer, number of rows: 1
name: Howard Martin Temin, number of rows: 1
name: Igor Yevgenyevich Tamm, number of rows: 1
name: Ilya Ilyich Mechnikov, number of rows: 1
name: Ilya Mikhailovich Frank, number of rows: 1
name: Ilya Prigogine, number of rows: 1
name: Imre Kertész, number of rows: 1
name: Institut de Droit International, number of rows: 1
name: International Atomic Energy Agency, number of rows: 1
name: Irving Langmuir, number of rows: 1
name: Irwin Rose, number of rows: 1
name: Irène Joliot-Curie, number of rows: 1
name: Isaac Bashevis Singer, number of rows: 1
name: Isamu Akasaki, number of rows: 1
name: Isidor Isaac Rabi, number of rows: 1
name: Ivan Bunin, number of rows: 1
name: Ivan Petrovich Pavlov, number of rows: 1
name: Ivar Giaever, number of rows: 2
name: Ivo Andrić, number of rows: 1
name: J. Georg Bednorz, number of rows: 1
name: J. Hans D. Jensen, number of rows: 1
name: J. J. Thomson, number of rows: 1
name: J. M. Coetzee, number of rows: 1
name: J. M. G. Le Clézio, number of rows: 1
name: J. Michael Bishop, number of rows: 1
name: J. Robin Warren, number of rows: 1
name: Jacinto Benavente, number of rows: 1
name: Jack Kilby, number of rows: 1
name: Jack Steinberger, number of rows: 1
name: Jack W. Szostak, number of rows: 2
name: Jacobus Henricus van 't Hoff, number of rows: 1
name: Jacques Monod, number of rows: 1
name: James A. Mirrlees, number of rows: 1
name: James B. Sumner, number of rows: 1
name: James Chadwick, number of rows: 1
name: James Cronin, number of rows: 1
name: James D. Watson, number of rows: 1
name: James Franck, number of rows: 1
name: James J. Heckman, number of rows: 1
name: James M. Buchanan, number of rows: 1
name: James Meade, number of rows: 1
name: James Rainwater, number of rows: 1
name: James Rothman, number of rows: 1
name: James Tobin, number of rows: 1
name: James W. Black, number of rows: 1
name: Jan Tinbergen, number of rows: 1
name: Jane Addams, number of rows: 1
name: Jaroslav Heyrovský, number of rows: 1
name: Jaroslav Seifert, number of rows: 1
name: Jean Dausset, number of rows: 1
name: Jean Tirole, number of rows: 1
name: Jean-Baptiste Perrin, number of rows: 1
name: Jean-Marie Lehn, number of rows: 1
name: Jean-Paul Sartre, number of rows: 1
name: Jens Christian Skou, number of rows: 1
name: Jerome I. Friedman, number of rows: 1
name: Jerome Karle, number of rows: 1
name: Jimmy Carter, number of rows: 1
name: Jody Williams, number of rows: 1
name: Johann Deisenhofer, number of rows: 1
name: Johannes Andreas Grib Fibiger, number of rows: 1
name: Johannes Diderik van der Waals, number of rows: 1
name: Johannes Stark, number of rows: 1
name: Johannes Vilhelm Jensen, number of rows: 1
name: John B. Gurdon, number of rows: 1
name: John Bardeen, number of rows: 2
name: John Bennett Fenn, number of rows: 1
name: John Boyd Orr, number of rows: 1
name: John C. Mather, number of rows: 1
name: John C. Polányi, number of rows: 1
name: John Carew Eccles, number of rows: 1
name: John Charles Harsanyi, number of rows: 1
name: John Cockcroft, number of rows: 1
name: John Cornforth, number of rows: 1
name: John E. Sulston, number of rows: 1
name: John E. Walker, number of rows: 1
name: John F. Enders, number of rows: 1
name: John Forbes Nash, number of rows: 1
name: John Galsworthy, number of rows: 1
name: John H. Northrop, number of rows: 1
name: John H. van Vleck, number of rows: 1
name: John Harsanyi, number of rows: 1
name: John Hicks, number of rows: 1
name: John Hume, number of rows: 1
name: John Kendrew, number of rows: 1
name: John L. Hall, number of rows: 1
name: John O'Keefe, number of rows: 1
name: John Pople, number of rows: 1
name: John R. Mott, number of rows: 1
name: John Robert Vane, number of rows: 1
name: John Steinbeck, number of rows: 1
name: John Strutt, number of rows: 1
name: Joseph Brodsky, number of rows: 1
name: Joseph E. Murray, number of rows: 1
name: Joseph E. Stiglitz, number of rows: 1
name: Joseph Erlanger, number of rows: 1
name: Joseph H. Taylor Jr., number of rows: 1
name: Joseph L. Goldstein, number of rows: 1
name: Joseph Rotblat, number of rows: 1
name: Joshua Lederberg, number of rows: 1
name: José Echegaray, number of rows: 1
name: José Ramos-Horta, number of rows: 1
name: José de Sousa Saramago, number of rows: 1
name: Juan Ramón Jiménez, number of rows: 1
name: Jules A. Hoffmann, number of rows: 1
name: Jules Bordet, number of rows: 1
name: Julian Schwinger, number of rows: 1
name: Julius Axelrod, number of rows: 1
name: Julius Wagner-Jauregg, number of rows: 1
name: K. Barry Sharpless, number of rows: 1
name: Kai Siegbahn, number of rows: 1

In [53]:
pd.concat([g for _,g in df.groupby('name') if len(g) > 1])['name']

121                   Aaron Klug
131                   Aaron Klug
615              Albert Einstein
844              Albert Einstein
176                Arieh Warshel
798                Arieh Warshel
94                 Avram Hershko
830                Avram Hershko
228             Baruj Benacerraf
366             Baruj Benacerraf
573               Betty Williams
805               Betty Williams
162             Brian P. Schmidt
1047            Brian P. Schmidt
498               Charles K. Kao
831               Charles K. Kao
295               Chen Ning Yang
976               Chen Ning Yang
0                 César Milstein
134               César Milstein
623                 Daniel Bovet
790                 Daniel Bovet
93               Daniel Kahneman
457              Daniel Kahneman
407            Edmond H. Fischer
630            Edmond H. Fischer
505              Ei-ichi Negishi
778              Ei-ichi Negishi
524            Ernest Rutherford
985            Ernest Rutherford
                  ...
632     Médecins Sans Frontières
947     Médecins Sans Frontières
490              Osamu Shimomura
776              Osamu Shimomura
72                Philipp Lenard
1013              Philipp Lenard
650                Ragnar Granit
960                Ragnar Granit
510            Ralph M. Steinman
1006           Ralph M. Steinman
85          Rita Levi-Montalcini
376         Rita Levi-Montalcini
96                 Robert Aumann
476                Robert Aumann
137                 Ronald Coase
405                 Ronald Coase
515               Shuji Nakamura
780               Shuji Nakamura
396                Sidney Altman
995                Sidney Altman
451               Sydney Brenner
586               Sydney Brenner
172             Thomas C. Südhof
905             Thomas C. Südhof
294                Tsung-Dao Lee
975                Tsung-Dao Lee
333             Wassily Leontief
684             Wassily Leontief
489               Yoichiro Nambu
773               Yoichiro Nambu
Name: name, dtype: object

In [54]:
df2 = pd.DataFrame({'name':['zak', 'alice', 'bob', 'mike', 'bob', 'bob'], 'score':[4,3,5,2,3,7]})
df2.sort_values(['name', 'score'], ascending=[1,0])

,name,score
1,alice,3
5,bob,7
2,bob,5
4,bob,3
3,mike,2
0,zak,4

In [55]:
all_dupes.sort_values('name')[['name', 'country', 'year']]

,name,country,year
121,Aaron Klug,South Africa,1982
131,Aaron Klug,United Kingdom,1982
844,Albert Einstein,Germany,1921
615,Albert Einstein,Switzerland,1921
176,Arieh Warshel,United States,2013
798,Arieh Warshel,Israel,2013
830,Avram Hershko,Hungary,2004
94,Avram Hershko,Israel,2004
366,Baruj Benacerraf,United States,1980
228,Baruj Benacerraf,Venezuela,1980
805,Betty Williams,Ireland,1976
573,Betty Williams,United Kingdom,1976
162,Brian P. Schmidt,United States,2011
1047,Brian P. Schmidt,Australia,2011
498,Charles K. Kao,United States,2009
831,Charles K. Kao,Hong Kong,2009
976,Chen Ning Yang,China,1957
295,Chen Ning Yang,United States,1957
0,César Milstein,Argentina,1984
134,César Milstein,United Kingdom,1984
623,Daniel Bovet,Switzerland,1957
790,Daniel Bovet,Italy,1957
93,Daniel Kahneman,Israel,2002
457,Daniel Kahneman,United States,2002
630,Edmond H. Fischer,Switzerland,1992
407,Edmond H. Fischer,United States,1992
778,Ei-ichi Negishi,Japan,2010
505,Ei-ichi Negishi,United States,2010
985,Ernest Rutherford,Canada,1908
524,Ernest Rutherford,United Kingdom,1908
...,...,...,...
947,Médecins Sans Frontières,France,1999
632,Médecins Sans Frontières,Switzerland,1999
776,Osamu Shimomura,Japan,2008
490,Osamu Shimomura,United States,2008
1013,Philipp Lenard,Austria,1905
72,Philipp Lenard,Germany,1905
650,Ragnar Granit,Sweden,1967
960,Ragnar Granit,Finland,1809
1006,Ralph M. Steinman,Canada,2011
510,Ralph M. Steinman,United States,2011
85,Rita Levi-Montalcini,Italy,1986
376,Rita Levi-Montalcini,United States,1986
96,Robert Aumann,Israel,2005
476,Robert Aumann,United States,2005
405,Ronald Coase,United States,1991
137,Ronald Coase,United Kingdom,1991
515,Shuji Nakamura,United States,2014
780,Shuji Nakamura,Japan,2014
995,Sidney Altman,Canada,1989
396,Sidney Altman,United States,1990
451,Sydney Brenner,United States,2002
586,Sydney Brenner,United Kingdom,2002
905,Thomas C. Südhof,Germany,2013
172,Thomas C. Südhof,United States,2013
975,Tsung-Dao Lee,China,1957
294,Tsung-Dao Lee,United States,1957
333,Wassily Leontief,United States,1973
684,Wassily Leontief,Russia,1973
773,Yoichiro Nambu,Japan,2008
489,Yoichiro Nambu,United States,2008

In [56]:
df.loc[(df.name == u'Marie Sk\u0142odowska-Curie') & (df.year == 1911), 'country'] = 'France'

In [57]:
df.drop(df[(df.name == 'Sidney Altman') & (df.year == 1990)].index, inplace=True)

In [58]:
def clean_data(df):
    df = df.replace('', np.nan)
    df = df[df.born_in.isnull()]
    df = df.drop('born_in', axis=1)
    df.drop(df[df.year == 1809].index, inplace=True)
    df = df[~(df.name == 'Marie Curie')]
    df.loc[(df.name == u'Marie Sk\u0142odowska-Curie') & (df.year == 1911), 'country'] = 'France'
    df = df[~((df.name == 'Sidney Altman') & (df.year == 1990))]
    return df

In [59]:
df = df.reindex(np.random.permutation(df.index))
df = df.drop_duplicates(['name', 'year'])
df = df.sort_index()
df.count()

name              870
category          869
country           870
date_of_birth     862
date_of_death     571
gender            861
link              870
place_of_birth    836
place_of_death    529
text              870
year              870
dtype: int64

In [60]:
df[df.duplicated('name') | df.duplicated('name', keep='last')].sort_values(by='name')[['name', 'country', 'year', 'category']]

,name,country,year,category
548,Frederick Sanger,United Kingdom,1958,Chemistry
580,Frederick Sanger,United Kingdom,1980,Chemistry
292,John Bardeen,United States,1956,Physics
326,John Bardeen,United States,1972,Physics
285,Linus C. Pauling,United States,1954,Chemistry
309,Linus C. Pauling,United States,1962,Peace
910,Marie Curie,France,1903,Physics
919,Marie Curie,France,1911,Chemistry
706,Marie Skłodowska-Curie,Poland,1903,Physics
709,Marie Skłodowska-Curie,France,1911,Chemistry
650,Ragnar Granit,Sweden,1967,Physiology or Medicine
960,Ragnar Granit,Finland,1809,Physiology or Medicine

In [63]:
df = clean_data(df)

AttributeError: 'DataFrame' object has no attribute 'born_in'

In [64]:
df = pd.read_json(open('data/nobel_winners.json'))

In [65]:
df = clean_data(df)

In [66]:
df.count()

category          903
country           904
date_of_birth     895
date_of_death     584
gender            895
link              904
name              904
place_of_birth    869
place_of_death    541
text              904
year              904
dtype: int64

In [67]:
df[df.duplicated('name') | df.duplicated('name', keep='last')].sort_values(by='name')[['name', 'country', 'year', 'category']]

,name,country,year,category
121,Aaron Klug,South Africa,1982,Chemistry
131,Aaron Klug,United Kingdom,1982,Chemistry
844,Albert Einstein,Germany,1921,Physics
615,Albert Einstein,Switzerland,1921,Physics
176,Arieh Warshel,United States,2013,Chemistry
798,Arieh Warshel,Israel,2013,Chemistry
830,Avram Hershko,Hungary,2004,Chemistry
94,Avram Hershko,Israel,2004,Chemistry
366,Baruj Benacerraf,United States,1980,Physiology or Medicine
228,Baruj Benacerraf,Venezuela,1980,Physiology or Medicine
805,Betty Williams,Ireland,1976,Peace
573,Betty Williams,United Kingdom,1976,Peace
162,Brian P. Schmidt,United States,2011,Physics
1047,Brian P. Schmidt,Australia,2011,Physics
498,Charles K. Kao,United States,2009,Physics
831,Charles K. Kao,Hong Kong,2009,Physics
976,Chen Ning Yang,China,1957,Physics
295,Chen Ning Yang,United States,1957,Physics
0,César Milstein,Argentina,1984,Physiology or Medicine
134,César Milstein,United Kingdom,1984,Physiology or Medicine
623,Daniel Bovet,Switzerland,1957,Physiology or Medicine
790,Daniel Bovet,Italy,1957,Physiology or Medicine
457,Daniel Kahneman,United States,2002,Economics
93,Daniel Kahneman,Israel,2002,Economics
630,Edmond H. Fischer,Switzerland,1992,Physiology or Medicine
407,Edmond H. Fischer,United States,1992,Physiology or Medicine
505,Ei-ichi Negishi,United States,2010,Chemistry
778,Ei-ichi Negishi,Japan,2010,Chemistry
985,Ernest Rutherford,Canada,1908,Chemistry
524,Ernest Rutherford,United Kingdom,1908,Chemistry
...,...,...,...,...
598,Michael Levitt,United Kingdom,2013,Chemistry
175,Michael Levitt,United States,2013,Chemistry
813,Mother Teresa,India,1979,Peace
110,Mother Teresa,Macedonia,1979,Peace
632,Médecins Sans Frontières,Switzerland,1999,Peace
947,Médecins Sans Frontières,France,1999,Peace
776,Osamu Shimomura,Japan,2008,Chemistry
490,Osamu Shimomura,United States,2008,Chemistry
1013,Philipp Lenard,Austria,1905,Physics
72,Philipp Lenard,Germany,1905,Physics
1006,Ralph M. Steinman,Canada,2011,Physiology or Medicine
510,Ralph M. Steinman,United States,2011,Physiology or Medicine
376,Rita Levi-Montalcini,United States,1986,Physiology or Medicine
85,Rita Levi-Montalcini,Italy,1986,Physiology or Medicine
96,Robert Aumann,Israel,2005,Economics
476,Robert Aumann,United States,2005,Economics
405,Ronald Coase,United States,1991,Economics
137,Ronald Coase,United Kingdom,1991,Economics
780,Shuji Nakamura,Japan,2014,Physics
515,Shuji Nakamura,United States,2014,Physics
451,Sydney Brenner,United States,2002,Physiology or Medicine
586,Sydney Brenner,United Kingdom,2002,Physiology or Medicine
905,Thomas C. Südhof,Germany,2013,Physiology or Medicine
172,Thomas C. Südhof,United States,2013,Physiology or Medicine
975,Tsung-Dao Lee,China,1957,Physics
294,Tsung-Dao Lee,United States,1957,Physics
333,Wassily Leontief,United States,1973,Economics
684,Wassily Leontief,Russia,1973,Economics
773,Yoichiro Nambu,Japan,2008,Physics
489,Yoichiro Nambu,United States,2008,Physics

In [68]:
df = df.reindex(np.random.permutation(df.index))
df = df.drop_duplicates(['name', 'year'])
df = df.sort_index()
df.count()

category          864
country           865
date_of_birth     857
date_of_death     566
gender            857
link              865
name              865
place_of_birth    831
place_of_death    524
text              865
year              865
dtype: int64

In [69]:
df[df.duplicated('name') | df.duplicated('name', keep='last')].sort_values(by='name')[['name', 'country', 'year', 'category']]

,name,country,year,category
548,Frederick Sanger,United Kingdom,1958,Chemistry
580,Frederick Sanger,United Kingdom,1980,Chemistry
292,John Bardeen,United States,1956,Physics
326,John Bardeen,United States,1972,Physics
285,Linus C. Pauling,United States,1954,Chemistry
309,Linus C. Pauling,United States,1962,Peace
706,Marie Skłodowska-Curie,Poland,1903,Physics
709,Marie Skłodowska-Curie,France,1911,Chemistry

In [70]:
df.count()

category          864
country           865
date_of_birth     857
date_of_death     566
gender            857
link              865
name              865
place_of_birth    831
place_of_death    524
text              865
year              865
dtype: int64

In [71]:
df[df.category.isnull()][['name', 'text']]

,name,text
922,Alexis Carrel,"Alexis Carrel , Medicine, 1912"

In [72]:
df.ix[df.name == 'Alexis Carrel', 'category'] = 'Physiology or Medicine'

In [73]:
df[df.gender.isnull()]['name']

3                         Institut de Droit International
156                               Friends Service Council
267     American Friends Service Committee  (The Quakers)
574                                 Amnesty International
650                                         Ragnar Granit
947                              Médecins Sans Frontières
1000     Pugwash Conferences on Science and World Affairs
1033                   International Atomic Energy Agency
Name: name, dtype: object

In [74]:
df.ix[df.name == "Ragnar Granit", 'gender'] = 'male'
df = df[df.gender.notnull()]

In [75]:
df.count()

category          858
country           858
date_of_birth     857
date_of_death     566
gender            858
link              858
name              858
place_of_birth    831
place_of_death    524
text              858
year              858
dtype: int64

In [77]:
df[df.date_of_birth.isnull()]['name']

782    Hiroshi Amano
Name: name, dtype: object

In [78]:
df.ix[df.name == "Hiroshi Amano", 'date_of_birth'] = '11 September 1960'

In [79]:
df.count()

category          858
country           858
date_of_birth     858
date_of_death     566
gender            858
link              858
name              858
place_of_birth    831
place_of_death    524
text              858
year              858
dtype: int64

In [80]:
df[['name', 'date_of_birth']]

,name,date_of_birth
4,Auguste Beernaert,26 July 1829
5,Maurice Maeterlinck,29 August 1862
6,Henri La Fontaine,22 April 1854
7,Jules Bordet,13 June 1870
8,Corneille Heymans,28 March 1892
9,Georges Pire,1910-02-10
10,Albert Claude,24 August 1899
11,Christian de Duve,2 October 1917
12,Ilya Prigogine,25 January 1917
13,François Englert,6 November 1932
17,Karl Adolph Gjellerup,"June 2, 1857"
18,August Krogh,"November 15, 1874"
19,Niels Bohr,7 October 1885
20,Johannes Andreas Grib Fibiger,23 April 1867
21,Henrik Dam,21 February 1895
22,Johannes Vilhelm Jensen,1873-01-20
23,Ben Roy Mottelson,"July 9, 1926"
24,Aage Bohr,19 June 1922
25,Niels Kaj Jerne,"December 23, 1911"
26,Jens Christian Skou,"October 8, 1918"
30,Jaroslav Heyrovský,"December 20, 1890"
31,Jaroslav Seifert,23 September 1901
32,Christopher A. Pissarides,1948-02-20
33,Irène Joliot-Curie,12 September 1897
34,Frédéric Joliot,19 March 1900
35,Roger Martin du Gard,23 March 1881
36,André Gide,1869-11-22
37,Léon Jouhaux,"July 1, 1879"
38,Albert Schweitzer,14 January 1875
39,François Mauriac,11 October 1885
...,...,...
1007,Alice Munro,1931-07-10
1011,Muhammad Yunus,28 June 1940
1012,Lev Landau,"January 22, 1908"
1014,Bertha von Suttner,"June 9, 1843"
1015,Alfred Hermann Fried,11 November 1864
1016,Robert Bárány,22 April 1876
1017,Friderik Pregl,3 September 1869
1018,Richard Adolf Zsigmondy,1 April 1865
1019,Julius Wagner-Jauregg,7 March 1857
1020,Karl Landsteiner,"June 14, 1868"
1021,Erwin Schrödinger,12 August 1887
1022,Victor Francis Hess,24 June 1883
1025,Wolfgang Pauli,25 April 1900
1026,Max F. Perutz,19 May 1914
1028,Konrad Lorenz,"November 7, 1903"
1029,Friedrich Hayek,8 May 1899
1032,Elfriede Jelinek,20 October 1946
1036,Sir Howard Florey,24 September 1898
1037,Sir Frank Macfarlane Burnet,3 September 1899
1038,John Carew Eccles,27 January 1903
1040,Patrick White,28 May 1912
1042,John Harsanyi,"May 29, 1920"
1043,Peter C. Doherty & Professor Rolf Zinkernagel,15 October 1940
1044,J. Robin Warren,11 June 1937
1045,Barry Marshall,30 September 1951
1047,Brian P. Schmidt,"February 24, 1967"
1048,Carlos Saavedra Lamas,"November 1, 1878"
1049,Bernardo Houssay,1887-04-10
1050,Luis Federico Leloir,1906-9-6
1051,Adolfo Pérez Esquivel,"November 26, 1931"

In [81]:
pd.to_datetime(df.date_of_birth, errors='raise')

4      1829-07-26 00:00:00
5      1862-08-29 00:00:00
6      1854-04-22 00:00:00
7      1870-06-13 00:00:00
8      1892-03-28 00:00:00
9               1910-02-10
10     1899-08-24 00:00:00
11              1917-10-02
12              1917-01-25
13              1932-11-06
17     1857-06-02 00:00:00
18     1874-11-15 00:00:00
19     1885-10-07 00:00:00
20     1867-04-23 00:00:00
21     1895-02-21 00:00:00
22     1873-01-20 00:00:00
23              1926-07-09
24              1922-06-19
25              1911-12-23
26              1918-10-08
30     1890-12-20 00:00:00
31              1901-09-23
32              1948-02-20
33     1897-09-12 00:00:00
34              1900-03-19
35     1881-03-23 00:00:00
36     1869-11-22 00:00:00
37     1879-07-01 00:00:00
38     1875-01-14 00:00:00
39     1885-10-11 00:00:00
               ...
1007            1931-07-10
1011            1940-06-28
1012            1908-01-22
1014   1843-06-09 00:00:00
1015   1864-11-11 00:00:00
1016   1876-04-22 00:00:00
1017   1869-09-03 00:00:00
1018   1865-04-01 00:00:00
1019   1857-03-07 00:00:00
1020   1868-06-14 00:00:00
1021   1887-08-12 00:00:00
1022   1883-06-24 00:00:00
1025            1900-04-25
1026            1914-05-19
1028            1903-11-07
1029   1899-05-08 00:00:00
1032            1946-10-20
1036   1898-09-24 00:00:00
1037   1899-09-03 00:00:00
1038            1903-01-27
1040            1912-05-28
1042            1920-05-29
1043            1940-10-15
1044            1937-06-11
1045            1951-09-30
1047            1967-02-24
1048   1878-11-01 00:00:00
1049   1887-04-10 00:00:00
1050            1906-09-06
1051            1931-11-26
Name: date_of_birth, dtype: datetime64[ns]

In [82]:
pd.to_datetime(df.date_of_death, errors='raise')

ValueError: month must be in 1..12

In [83]:
for i,row in df.iterrows():
    try:
        pd.to_datetime(row.date_of_death, errors='raise')
    except:
        print '%s(%s, %d)'%(row.date_of_death.ljust(30), row['name'], i)

1968-23-07                    (Henry Hallett Dale, 150)
May 30, 2011 (aged 89)        (Rosalyn Yalow, 349)
living                        (David Trimble, 581)
Diederik Korteweg             (Johannes Diderik van der Waals, 746)
living                        (Shirin Ebadi, 809)
living                        (Rigoberta Menchú, 833)
1 February 1976, age 74       (Werner Karl Heisenberg, 858)

In [84]:
with_death_dates = df[df.date_of_death.notnull()]
bad_dates = pd.isnull(pd.to_datetime(with_death_dates.date_of_death, errors='coerce'))
with_death_dates[bad_dates][['category', 'date_of_death', 'name']]

,category,date_of_death,name
150,Physiology or Medicine,1968-23-07,Henry Hallett Dale
349,Physiology or Medicine,"May 30, 2011 (aged 89)",Rosalyn Yalow
581,Peace,living,David Trimble
746,Physics,Diederik Korteweg,Johannes Diderik van der Waals
809,Peace,living,Shirin Ebadi
833,Peace,living,Rigoberta Menchú
858,Physics,"1 February 1976, age 74",Werner Karl Heisenberg

In [85]:
df.date_of_death = pd.to_datetime(df.date_of_death, errors='coerce')

In [87]:
df['award_age'] = df.year - pd.DatetimeIndex(df.date_of_birth).year

In [88]:
df.sort_values('award_age').iloc[:10][['name', 'award_age', 'category', 'year']]

,name,award_age,category,year
725,Malala Yousafzai,17,Peace,2014
525,William Lawrence Bragg,25,Physics,1915
626,Georges J. F. Köhler,30,Physiology or Medicine,1976
146,Paul Dirac,31,Physics,1933
294,Tsung-Dao Lee,31,Physics,1957
247,Carl Anderson,31,Physics,1936
858,Werner Karl Heisenberg,31,Physics,1932
804,Mairéad Corrigan,32,Peace,1976
226,Tawakkol Karman,32,Peace,2011
986,Frederick G. Banting,32,Physiology or Medicine,1923

In [93]:
def reload_data(name='data/nobel_winners.json'):
    df = pd.read_json(open(name))
    return df

In [103]:
reload_data()

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,Maurice Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Henri La Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,Jules Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,Corneille Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,Georges Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,Albert Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,Christian de Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,Ilya Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets *,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin *,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
17,,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,Karl Adolph Gjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,August Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
19,,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,Niels Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Johannes Andreas Grib Fibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,Henrik Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
22,,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,Johannes Vilhelm Jensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,Ben Roy Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
24,,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,Aage Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,Jens Christian Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
27,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner *,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,Gerty Cori *,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori *,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,Victor Francis Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,Otto Loewi *,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn *,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,Wolfgang Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,Max F. Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,Karl von Frisch *,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn *,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,Eric R. Kandel *,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,International Atomic Energy Agency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,Sir Howard Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,Sir Frank Macfarlane Burnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,John Carew Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov *,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,Patrick White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,John Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty & Professor Rolf Zinkernagel,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [101]:
def clean_data(df):
    """The full clean data function, which returns both the cleaned Nobel data (df) and a DataFrame 
    containing those winners with a born_in field."""
    df = df.replace('', np.nan)
    #df_born_in = df[df.born_in.notnull()] 
    df = df[df.born_in.isnull()]
    df = df.drop('born_in', axis=1) 
    df.drop(df[df.year == 1809].index, inplace=True) 
    df = df[~(df.name == 'Marie Curie')]
    df.loc[(df.name == u'Marie Sk\u0142odowska-Curie') &\
           (df.year == 1911), 'country'] = 'France'
    df = df[~((df.name == 'Sidney Altman') & (df.year == 1990))]
    df = df.reindex(np.random.permutation(df.index)) 
    df = df.drop_duplicates(['name', 'year'])         
    df = df.sort_index()
    df.ix[df.name == 'Alexis Carrel', 'category'] =\
        'Physiology or Medicine' 
    df.ix[df.name == 'Ragnar Granit', 'gender'] = 'male'
    df = df[df.gender.notnull()] # remove institutional prizes
    df.ix[df.name == 'Hiroshi Amano', 'date_of_birth'] =\
    '11 September 1960'
    df.date_of_birth = pd.to_datetime(df.date_of_birth) 
    df.date_of_death = pd.to_datetime(df.date_of_death, errors='coerce') 
    df['award_age'] = df.year - pd.DatetimeIndex(df.date_of_birth).year 
    return df, df_born_in

In [104]:
clean_data(df)

AttributeError: 'DataFrame' object has no attribute 'born_in'